In [203]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [204]:
csv = '/Users/alchemist/Documents/Python_Library/TS_Bank-of-England_Forcasting/data/Bank of England  Database.csv'
a = pd.read_csv(csv)
data = pd.read_csv(csv,
                   engine='pyarrow',
                   dtype_backend='pyarrow', 
                   parse_dates=True,
                   names=['Date', 'GBPUSD', 'USDGBP'])

df = pd.DataFrame(data)
df = df.iloc[:, 0:2]
df = df[1:]
df

           Date  GBPUSD
1     12 Jan 26  0.7421
2     09 Jan 26  0.7452
3     08 Jan 26   0.744
4     07 Jan 26  0.7418
5     06 Jan 26  0.7404
...         ...     ...
2529  08 Jan 16  0.6878
2530  07 Jan 16  0.6865
2531  06 Jan 16  0.6846
2532  05 Jan 16  0.6827
2533  04 Jan 16  0.6808

[2533 rows x 2 columns]

In [205]:
a

,Date,"Spot exchange rate, Sterling into US$ [a] [a] [a] XUDLGBD","Spot exchange rate, US $ into Sterling [a] [a] [a] XUDLUSS"
0,12 Jan 26,0.7421,1.3475
1,09 Jan 26,0.7452,1.3419
2,08 Jan 26,0.7440,1.3442
3,07 Jan 26,0.7418,1.3481
4,06 Jan 26,0.7404,1.3507
...,...,...,...
2528,08 Jan 16,0.6878,1.4540
2529,07 Jan 16,0.6865,1.4566
2530,06 Jan 16,0.6846,1.4607
2531,05 Jan 16,0.6827,1.4647
2532,04 Jan 16,0.6808,1.4689

In [233]:
(a
 .dtypes
 .describe()
 .info())

<class 'pandas.core.series.Series'>
Index: 4 entries, count to freq
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      object
dtypes: object(1)
memory usage: 64.0+ bytes

In [209]:
a['Date'] = pd.to_datetime(a['Date'])
a

,Date,"Spot exchange rate, Sterling into US$ [a] [a] [a] XUDLGBD","Spot exchange rate, US $ into Sterling [a] [a] [a] XUDLUSS"
0,2026-01-12,0.7421,1.3475
1,2026-01-09,0.7452,1.3419
2,2026-01-08,0.7440,1.3442
3,2026-01-07,0.7418,1.3481
4,2026-01-06,0.7404,1.3507
...,...,...,...
2528,2016-01-08,0.6878,1.4540
2529,2016-01-07,0.6865,1.4566
2530,2016-01-06,0.6846,1.4607
2531,2016-01-05,0.6827,1.4647
2532,2016-01-04,0.6808,1.4689

In [216]:
a = a.sort_values(by='Date')

In [225]:
a.head(10)

,Date,"Spot exchange rate, Sterling into US$ [a] [a] [a] XUDLGBD","Spot exchange rate, US $ into Sterling [a] [a] [a] XUDLUSS"
2532,2016-01-04,0.6808,1.4689
2531,2016-01-05,0.6827,1.4647
2530,2016-01-06,0.6846,1.4607
2529,2016-01-07,0.6865,1.4566
2528,2016-01-08,0.6878,1.4540
2527,2016-01-11,0.6882,1.4531
2526,2016-01-12,0.6961,1.4366
2525,2016-01-13,0.6925,1.4441
2524,2016-01-14,0.6948,1.4393
2523,2016-01-15,0.6990,1.4307

In [234]:
b = a.iloc[:,0:2]

x = a['Date']
y = a['Spot exchange rate, Sterling into US$ [a] [a] [a] XUDLGBD']
plt.plot(x, y)
plt.show()

KeyError: 'Spot exchange rate, Sterling into US$ [a] [a] [a] XUDLGBD'

In [ ]:
df.dtypes

Date      string[pyarrow]
GBPUSD    string[pyarrow]
dtype: object

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

/var/folders/sq/kdhn9tfx7tb_cvt5gjkm7wlh0000gn/T/ipykernel_30220/2394721818.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df['GBPUSD'] = pd.to_numeric(df['GBPUSD'])

In [ ]:
df['GBPUSD'].is

Date      string[pyarrow]
GBPUSD    double[pyarrow]
dtype: object

In [ ]:
plot = sns.lineplot(dashes=df, x='Date', y='GBPUSD')
plt.ylabel('GBPUSD')
plt.xlabel('Date')
plt.show()

ValueError: Could not interpret value `Date` for `x`. Value is a string, but `data` was not passed.

In [ ]:
GB = df['GBPUSD']

GB.plot()

TypeError: no numeric data to plot