In [2]:
import pandas as pd

In [ ]:
csv = '/Users/alchemist/Documents/Python_Library/TS_Bank-of-England_Forcasting/data/Bank of England  Database.csv'

data = pd.read_csv(csv,)

data.head()

,Date,"Spot exchange rate, Sterling into US$ [a] [a] [a] XUDLGBD","Spot exchange rate, US $ into Sterling [a] [a] [a] XUDLUSS"
0,12 Jan 26,0.7421,1.3475
1,09 Jan 26,0.7452,1.3419
2,08 Jan 26,0.7440,1.3442
3,07 Jan 26,0.7418,1.3481
4,06 Jan 26,0.7404,1.3507